/*

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
```````````````````````````````````````````````
===============================================

INTRODUCTION

Making for toyhouse. CSS is interchangable. Currently sourcing different
types of fonts and the like to make sure I can change this out anytime I want.

Exchangeable things are below.

~~~~~~~~~~~~~~~~~~~~~

FONTS:
fonts are interchangeable

font-family: 'Great Vibes', cursive; - Esokey Font
font-family: 'M PLUS 1', sans-serif; - spaceous
font-family: 'Open Sans Condensed', sans-serif; - thin and clumped together
font-family: 'Nanum Gothic Coding', monospace; - monospace clumped, robotic but not-- Eight, probably

~~~~~~~~~~~~~~~~~~~~~


COLORS:

~~ Esokey Themes (?) ~~

.gray-white { color: #F2F0F2; }
.lavender-blue { color: #605F73; }
.blue-sky { color: #3B8DBF; }
.light-orange { color: #F2AF88; }
.salmon-red { color: #D98977; }

.magenta-thing { rgba(201,124,134,255); }
~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
```````````````````````````````````````````````
===============================================

*/

/** {*/
/*    border-color: black;*/
/*    border-style: dashed;*/
/*    border-width: thin;*/
/*}*/

* {

}

body {
    background-image: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1, h3 {
    font-family: 'Nanum Gothic Coding', monospace;;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #896876;
    padding: 6px;
    font-size: 15pt;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 9pt;
    color: black;
    padding: 5px 0; /* if you want indents, add 10 to the left (last of four) */
    margin: auto;
    text-align: justify;
}

li {
    margin-left: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#background {
    background-color: rgba(0, 79, 141, 0.7);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    max-width: 900px;
    padding: 30px;
    margin: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 130px);
    grid-template-rows: repeat(6, 130px);
}

/*h1*/
#character-title {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: steelblue;
    font-size: 35pt;
    background-color: antiquewhite;
    font-family: 'Nanum Gothic Coding', monospace;
    grid-column-start: 4;
    grid-row-start: -7;
    grid-column-end: 6;
}

#last-name {
    padding: 10px;
    text-align: center;
    color: steelblue;
    font-size: 40px;
    background-color: antiquewhite;
    font-style: normal;
    font-family: 'Nanum Gothic Coding', monospace;;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    margin: 0;
}

#basic-asks {
    font-family: 'M PLUS 1', sans-serif;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0;
    grid-column-end: 3;
    grid-row-end: 6;
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
}

#intro-paragraph {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 6;
    color: black;
    margin: 0;
    font-family: 'M PLUS 1', sans-serif;
    padding: 10px 20px 10px 20px;
}

#main-block {
    margin: 0;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 6;
    grid-row-end: 7;
}

.paragraph {

}

/* h3 */
.info-title {
    display: block;
    margin: auto;
}

.sub-title {
    font-size: 10pt;
    color: steelblue;
    font-family: 'M PLUS 1', sans-serif;

}

/*div*/
.box {
    padding: 10px;
    background-color: lemonchiffon;
    border-color: black;
    color: steelblue;
    border-radius: 3px;
    border-width: 1px;
    border-style: double;
}

blockquote {
    display: flex;
    padding: 5px;
    align-items: end;
    justify-content: center;
    font-family: 'M PLUS 1', sans-serif;
    font-style: italic;
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 10pt;
}

/*blockquote*/
.quotes {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    align-self: end;
}